{% extends 'base.html' %}

{% block content %}
  <div>
    <div style="text-align: center; max-width: 500px; margin:4rem auto;">



      {% if target_user.profile %}
      <img src="{{ target_user.profile.image.url }}" alt=""
           style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
      <h2 style="font-family:'NanumSquareB'">
        {{ target_user.profile.nickname }}
          {% if target_user == user %}
<!--          <a class="material-icons"-->
<!--             style="box-shadow:0 0 4px #CCC; border-radius: 10rem;padding: .4rem;"-->
<!--             href="{% url 'profileapp:update' pk=target_user.profile.pk %}">-->
<!--            edit-->
<!--          </a>-->
              <a class="material-symbols-outlined"
                 style="box-shadow:0 0 4px #CCC; border-radius: 10rem;padding: .4rem;
                 href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                edit_document
              </a>
          {% endif %}
      </h2>
      <h6 style="margin-bottom:3rem;">
        {{ target_user.profile.message }}
      </h6>
      {% else %}
        {% if target_user == user %}
          <a href="{% url 'profileapp:create' %}">
            <h2 style="font-family:'NanumSquareB'">
              Create Profile
            </h2>
          </a>
        {% else %}
        <h2>Nick Name Setting</h2>
        {% endif %}
      {% endif %}

      {% if target_user == user %}
      <a class="material-symbols-outlined" href="{% url 'accountapp:update' pk=user.pk %}"
      style="margin-right:1rem; box-shadow:0 0 4px #CCC; border-radius: 10rem;padding: .4rem;">
        <p>
          manage_accounts
        </p>
      </a>

      <a class="material-symbols-outlined" href="{% url 'accountapp:delete' pk=user.pk %}"
      style="margin-left:1rem; margin-right:1rem; box-shadow:0 0 4px #CCC; border-radius: 10rem;padding: .4rem;">
        <p>
          digital_out_of_home
        </p>
      </a>
      {% endif %}

    </div>
    <div>

        {% include 'snippets/list_md.html' with article_list=object_list %}

    </div>
  </div>
{% endblock %}

