.md_logo {
    font-family: 'Monoton', cursive;
}

.md_footer_button {
    font-size: .9rem;
}

.md_footer {
    text-align:center;
    margin-top: 2rem;
}

.md_header {
    text-align:center;
    margin-top: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

.md_header_nav {
    margin: 0 0.5rem;
}

.md_header_navbar {
    margin: 1rem 0;
}