.md_logo {
    font-family: 'Monoton', cursive;
}

.md_footer_button {
    font-size: .9rem;
}

.md_footer {
    text-align:center;
    margin-top: 2rem;
}

.md_header {
    text-align:center;
    margin-top: 2rem 0;
}