<!DOCTYPE html>
<html lang="en">

    {% include 'head.html' %}

<body>

    {% include 'header.html' %}

    <hr>
    {% for message in messages %}
    <div class="text-center">
        <div class="btn btn-{{ message.tags }} rounded-pill px-5 my-3">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% block content %}

    {% endblock %}

    <hr>

    {% include 'footer.html' %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>